
[alias]
  st = status
  co = checkout
  br = branch
[core]
  excludesfile = /User/makoto-ishizaki/.gitignore_global
[credential]
	helper = osxkeychain
[user]
	name = Makoto-Ishizaki
	email = makoto.ishizaki@geniee.co.jp
