# This is Git's per-user configuration file.
[user]
# add user name
[alias]
  br = branch
  co = checkout
  st = status
  home = rev-parse --show-toplevel
  tree = log --graph --all --format="%x09%an%x09%h %d %s"
[grep]
	lineNumber = true
[core]
	excludesFile = /Users/makoto.ishizaki/.config/git/ignore
